#title{
  background-color: #ff4c68;
  color: #ffff;
}
body{
  font-family: 'Montserrat',sans-serif;
}

h1{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
.containor-fluid{
  padding: 3% 15% 7%;
}
/* Navigation Bar */
.navbar-brand{
  font-family : Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 100px;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.3rem;
}
/* Download Button */
.Download{
  margin: 5% 3% 5% 0;
}
h3{
  font-size: 1.5rem;
}
.icon{
  color: #ef8172;
  padding: 0 18px 10px 18px;
}
p{
  color: #8f8f8f;
}
h3{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: bolder;
}
.mockup{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 5%;
}
/* features section */
#features{
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features{
  text-align: center;
}
.fa-solid{
  transition: color .5s;
}
.fa-solid:hover{
  color: #ff4c68;
}
/* Tesitimonials */
h2{
  font-size: 3rem;
}
#testimonials{
  background-color:  #ef8172;
  color: #ffff;
  text-align: center;
}
.testimonial-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
#press{
    background-color:  #ef8172;
    text-align: center;
}
.press-logo{
   width: 15%;
   padding: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* pricing */
#pricing{
  padding:100px;
}
.pricing_column{
  padding: 3% 2%;
}
.btn:hover{
  background-color:#ff4c68;
}
@media (max-width:1023px) {
  #title{
  text-align: center;
  }
  .mockup{
    width: 60%;
    transform: rotate(0);
    position: static;
  }
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.cta_head{
  text-align: center;
  font-family: 'Montserrat-black';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;

}
#footer{
  margin: 7% 15%;
  color: black;
  font-size: 20px;
  text-align: center;
}
.footer_i{
  padding-right: 20px;
}
